*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
}
header{
    background-color: rgb(19, 25, 33);
    display: flex;
}

.amazon-logo-container{
    height: 100px;
}
.amazon-logo{
    margin-top: 30px;
    margin-left: 20px;
}

.all-button-container{
    margin-top: 25px;
    margin-left: 200px;
}

.all-button{
    height: 34px;
    width: 34px;
    margin-right: -1px;
    background-color: orange;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.search-bar-container{
    margin-top: 25px;
    margin-left: -1px;
    margin-right: -1px;
}

.search-bar{
    height: 30px;
    width: 500px;
    padding-left: 20px;
}

.search-button-container{
    margin-top: 25px;
}


.search-button{
    height: 34px;
    margin-left: -1px;
    background-color: orange;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.cart-container{
    margin-left: 100px;
    margin-top: 15px;
}

.cart-quantity-container{
    margin-left: 17px;
    margin-bottom: -10px;
    color: orange;
}

main{
    margin-top: 50px;
    margin-left: 200px ;
}

.product-image-container{
    margin-top: 30px;
    margin-bottom: 70px;
}

.preparing, .shipped, .delivered{
    font-weight: bold;
    font-size: large;
    margin-right: 260px;
    
}


.progress-bar-background{
    width: 800px;
    height: 20px;
    border: 1px solid rgb(19, 25, 33);
    border-radius: 400px;
    margin-top: 20px;
}

.progress-bar{
    background-color: green;
    height: 20px;
    width: 400px;
    border-radius: 400px;
}

